{% extends 'base.html' %}

{% block content %}
<!-- <h2>Login</h2> -->





<div class="container">
	<div class="row">
		<div class="col-lg-4 col-md-10 col-sm-12 login-container vertical-center-div horizontal-center-div">
			<div class="pd-rltb-50">
				<form method="post">
					{% csrf_token %}
					
					<label for="id_username" class="login_window_text">Username</label>
					
					<p>
						<input 
							type="text" 
							name="username" 
							maxlength="150" 
							required="" 
							id="id_username"
							class="text_box" 
							placeholder="Enter user name.">
					</p>


					{% if form.errors %}
						<ul  class="text-error">
						    {% for field in form %}
						        {% for error in field.errors %}
						            <li>{{ error|escape }}</li>
						        {% endfor %}
						    {% endfor %}
							    
						    {% for error in form.non_field_errors %}
						        <li>{{ error|escape }}</li>
						    {% endfor %}
						</ul>
					{% endif %}
					
					<label for="id_password" class="login_window_text">Password</label>
					
					<p>
						<input 
							type="password" 
							name="password" 
							autocomplete="current-password" 
							required="" 
							id="id_password"
							class="text_box" 
							placeholder="Enter user name.">
					</p>
					
					<input type="submit" value="Login" class="btn btn-success">

				</form>			

				
			</div>
		</div>
	</div>
</div>

{% endblock %}