{% extends 'base.html' %}

{% block content %}

<!-- <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Reset">    
</form>
 -->
 
<div class="container">
	<div class="row">
		<div class="col-lg-4 col-md-10 col-sm-12 login-container vertical-center-div horizontal-center-div">
			<div class="pd-rltb-50">
				<form method="post">
					{% csrf_token %}
					
					<label for="id_email" class="login_window_text">Email</label>					

					<p>
						<input 
							type="email" 
							name="email" 
							autocomplete="email" 
							maxlength="254" 
							required="" 
							id="id_email"
							class="text_box" 
							placeholder="Enter your registered email here.">
					</p>

					<input type="submit" value="Reset" class="btn btn-success">
				
				</form>			

				
			</div>
		</div>
	</div>
</div>


{% endblock %}